body {
  font-family: $fontMain;
  color: $colorBlack;
  &.waitingLoad {
    overflow: hidden;
  }
}

.indexPage {
  .content {
    background-image: url("../img/back-content1.png");
    background-position: center calc(100% - 244px);
    background-repeat: no-repeat;
  }
}

.innerPage {
  .content {
    background-image: url("../img/back-content2.png");
    background-position: center calc(100% - 244px);
    background-repeat: no-repeat;
  }
}

.container {
  // width: 1290px;
  width: 1340px;
  margin: 0px auto;
  @include transform(translateX(24px));
}

label,
textarea,
input {
  font-family: $fontMain;
}

.siteWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  overflow: hidden;
  &.loader {
    .header {
      .logoWrapper {
        width: 208px;
        height: 46px;
        opacity: 0;
      }
    }
  }
  &.preloaderLoad {
    .header {
      .logoWrapper {
        opacity: 1;
      }
    }
    .preloader {
      @include transition(all 0.3s);
      opacity: 0;
    }
  }

  .footer {
    margin-top: auto;
  }
}

.logoWrapper {
  position: relative;
  @include invisLink;
  @include transition(all 0.3s);
  & > a {
    z-index: auto;
  }
  // &:hover {
  //   opacity: 0.75;
  // }
}

.logoBurger {
  position: absolute;
  left: 30px;
  top: 0;
  width: 32px;
  height: 32px;
  z-index: 5;
  .line {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e85b0d;
    @include transition(all 0.3s);
    & + .line {
      margin-top: 12px;
    }
  }
  &.open {
    left: 31px;
    .line {
      &:nth-child(1) {
        @include transform(rotate(45deg) translate(9px, 12px));
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        @include transform(rotate(-45deg) translate(8px, -11px));
      }
    }
  }
}

.breadCrumbs {
  ul {
  }
  li {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    @include before {
      top: 50%;
      width: 13px;
      height: 2px;
      background-color: $colorSite1;
      right: -21px;
      margin-top: 1px;
    }
    & + li {
      margin-left: 24px;
    }
    &:last-child {
      &::before {
        display: none;
      }
    }
  }
  a {
    @include transition(all 0.3s);
    &:hover {
      color: $colorSite1;
    }
  }
  a,
  span {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
  }
}

.captionDesctiption {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: -15px;
  display: block;
  position: relative;
}

.captionOne {
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 75px;
  letter-spacing: 0.2em;
  color: $colorBlack;
  text-transform: uppercase;
  @include beforeIcMoon {
    content: "\e902";
    color: $colorSite1;
    top: 0;
    left: -55px;
    font-size: 31px;
  }
}

.captionTwo {
  position: relative;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: $colorSite1;
  text-transform: uppercase;
  @include before {
    width: 49px;
    height: 3px;
    background-color: $colorSite1;
    top: 0;
    top: 12px;
    left: -63px;
  }
}

.captionThree {
  position: relative;
  font-weight: 750;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #0d0d0d;
}

.captionFour {
  position: relative;
  font-weight: 750;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #0d0d0d;
}

.textSimple {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: $colorBlack;
  p {
    & + p {
      margin-top: 25px;
    }
    & + img {
      margin-top: 25px;
    }
  }
  &.small {
    font-size: 16px;
    line-height: 23px;
  }
  .left {
    float: left;
    margin-right: 36px;
    & + p {
      margin-top: 36px;
    }
  }
  .right {
    float: right;
    margin-left: 36px;
    & + p {
      margin-top: 36px;
    }
  }
  img {
    @include border-radius(10px);
  }
}

.inputWrapper {
  %stylesInput {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #e95a0c;
    background: $colorWhite;
    border: 2px solid #eeeeee;
    @include border-radius(30px);
    padding: 0 25px;
    width: 100%;
    &::placeholder {
      opacity: 1;
    }
  }

  label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #b1b1b1;
  }
  textarea {
    @extend %stylesInput;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 150px;
  }
  input {
    @extend %stylesInput;
    height: 50px;
  }
}

.docLink {
  padding-left: 52px;
  max-width: 380px;
  @include invisLink;
  .name {
    max-width: 255px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
    display: block;
    @include transition(all 0.3s);
    text-decoration: underline;
    text-decoration-color: transparent;
  }
  .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20.5px;
    width: 38px;
    height: 41px;
  }
  @include after {
    right: 0;
    top: 50%;
    width: 56px;
    height: 56px;
    background-image: url("../img/load.svg");
    background-position: center;
    background-repeat: no-repeat;
    @include border-radius(50%);
    margin-top: -28px;
  }

  &.pdf {
    &:after {
      background-color: $colorSite1;
    }
    &:hover {
      &:after {
        background-color: $colorSite2;
      }
    }
  }
  &.doc {
    &:after {
      background-color: $colorSite2;
    }
  }
  &:hover {
    .name {
      text-decoration-color: $colorBlack;
    }
  }
}

.linkSite {
  @include invisLink;
  padding-left: 49px;
  max-width: 395px;
  .linkText {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    color: $colorSite1;
    @include transition(all 0.3s);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
  }
  @include beforeIcMoon {
    content: "\e904";
    left: 0;
    top: 50%;
    font-size: 32px;
    color: $colorSite1;
    margin-top: -19px;
  }
  &:hover {
    .linkText {
      color: $colorSite2;
      text-decoration-color: $colorSite2;
    }
  }
}

.tabSection {
  .caption {
  }
  .tabs {
    margin-top: 30px;
  }
}

.tabs {
  .tabsHead {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -7.5px;
    li {
      margin: 0 7.5px 19px;
      &.active {
        a {
          color: $colorWhite;
          background-color: $colorSite1;
        }
      }
    }
    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.05em;
      color: #474a51;
      width: 100%;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 29px;
      @include border-radius(30px);
      @include transition(all 0.3s);
      background-color: #cad1d9;
      &:hover {
        color: $colorWhite;
        background-color: $colorSite1;
      }
    }
  }
  .tabsBody {
    margin-top: 21px;
  }
}

.captionInvis {
  color: #f9f9f9;
  text-transform: uppercase;
  position: absolute;
  left: 48px;
  top: -26px;
  background-image: url("../img/caption-invis.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 1358px;
  height: 167px;
  z-index: -1;
  &.gray {
    background-image: url("../img/caption-invis-gray.svg");
  }
}

.swiper-pagination {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
  .swiper-pagination-bullet {
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #e95a0c;
    border: 0;
    margin: 0 10px;
    @include border-radius(50%);
    @include transition(all 0.3s);
    opacity: 0.5;
    &.swiper-pagination-bullet-active,
    &:hover {
      opacity: 1;
    }
  }
}

%swiper-button {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 48px;
  top: 50%;
  @include transition(all 0.3s);
  color: #acb6c1;
  position: absolute;
  &:hover {
    color: $colorSite1;
  }
}

.swiper-button-prev {
  @extend %swiper-button;
  left: -135px;
}

.swiper-button-next {
  @extend %swiper-button;
  right: -99px;
}

.selectric {
  background: transparent;
  background-color: $colorWhite;
  border: 2px solid #eeeeee !important;
  height: 50px;
  @include border-radius(30px);
  .label {
    height: 50px;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.15em;
    color: #474a51;
    padding: 7px 14px;
  }
  .button {
    width: 62px;
    height: 100%;
    background: transparent;
    &::after {
      border: 0;
      background-image: url("../img/arrowburger.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 10px;
      height: 10px;
    }
  }
}

.selectric-wrapper {
  border: 0;
}

.selectric-items {
  overflow: hidden;
  background-color: $colorWhite;
  border: 2px solid #eeeeee;
  @include border-radius(30px);
}

.selectric-scroll {
  border: 0;
  ul {
    li {
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.15em;
      color: #474a51;
      padding: 7px 22px;
      &.selected {
        background-color: $colorSite1;
        color: $colorWhite;
      }
      &:hover {
      }
    }
  }
}

.socialDark {
  display: flex;
  align-items: center;
  margin: 0 -5.5px;
  li {
    margin: 0 5.5px;
    a {
      @include transition(all 0.3s);
      &:hover {
        @include filter(invert(1));
      }
    }
  }
}

.cur {
  font-size: 21px;
}

.tabsWithLeft {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .tabsLeftSide {
    max-width: 275px;
    li {
      @include transition(all 0.3s);
      & + li {
        margin-top: 74px;
      }
      &.active {
        a {
          font-weight: 700;
          color: $colorSite1;
          padding-left: 55px;
          &::before {
            width: 97px;
            background-color: $colorSite1;
          }
        }
      }
      a {
        position: relative;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.15em;
        color: #4c535b;
        padding-left: 35px;
        display: block;
        @include transition(all 0.3s);
        @include before {
          width: 69px;
          height: 3px;
          left: -54px;
          top: 50%;
          margin-top: -1.5px;
          background-color: #dcd1cd;
        }
      }
    }
  }
  .tabsContent {
    width: calc(100% - 275px);
  }
}

.checkBlock {
  position: relative;
  input {
    display: none;
    &:checked {
      & + label {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  label {
    cursor: pointer;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    letter-spacing: 0.1em;
    position: relative;
    height: 37px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      width: 19px;
      height: 19px;
      background-color: $colorWhite;
      border: solid 2px #eeeeee;
      @include border-radius(50%);
    }
    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 14px;
      width: 9px;
      height: 9px;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      @include transition(all 0.3s);
      background-color: $colorSite1;
      @include border-radius(50%);
    }
  }
  & + .checkBlock {
    margin-top: 2px;
  }
}

.menuClose {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  .line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 1px;
    background-color: $colorWhite;
    &:nth-child(1) {
      @include transform(rotate(45deg) translateX(1px));
    }
    &:nth-child(2) {
      @include transform(rotate(-45deg) translateX(1px));
    }
  }
}

// modals base

.modal {
  font-family: $fontMain;
  display: none;
  width: 100%;
}

.modal.is-open {
  display: block;
  z-index: 15;
  position: fixed;
}

.modal__container {
  overflow: auto;
  background: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  padding: 50px 0;
}

.modalBlock {
  .modalBlockContent {
  }
}

.modal__content {
  padding: 0;
  margin: 0;
  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.modal__close {
  width: 33px;
  height: 33px;
  padding: 10px;
  background-color: $colorSite1;
  @include border-radius(50%);
  position: absolute;
  right: -32px;
  top: -32px;
  display: block;
  @include transition(all 0.3s);
  span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $colorWhite;
    @include transform(rotate(45deg));
    &:nth-child(2) {
      @include transform(rotate(-45deg));
      top: -2px;
    }
  }
  &:hover {
    background-color: $colorSite2;
  }
}

.modal__content {
  .scroll {
    &::-webkit-scrollbar {
      width: 5px;
      @include border-radius(10px);
      margin-right: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #d9d9d9;
      @include border-radius(10px);
    }

    &::-webkit-scrollbar-thumb {
      background: $colorSite1;
      @include border-radius(10px);
    }
  }
}

#modalAbout {
  .caption {
    max-width: 426px;
  }
}
#modalAbout,
#modalText {
  max-height: 669px;
  .modal__content {
    padding: 50px 0;
  }
}

.modalText {
  max-height: 547px;
  overflow: auto;
  padding: 0 72px 0 84px;
  margin-right: 12px;
  .textSimple {
    padding-bottom: 20px;
  }

  .caption {
    max-width: 317px;
    margin-bottom: 18px;
  }
  img {
    float: right;
    margin-left: 35px;
  }
  .userName {
    float: right;
  }
}

.modalWrap {
  position: relative;
  max-width: 1345px;
  margin: 0 auto;
  width: 100%;
  background-color: $colorWhite;
  @include border-radius(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  .controls {
    padding: 0 84px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 18px;
    left: 0;
    position: absolute;
  }
  .date {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    margin-left: auto;
    .data {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 5px;
      color: $colorWhite;
      background-color: $colorSite1;
      margin-left: 14px;
    }
  }
}

#modalProduct {
  max-height: 669px;
  .modal__content {
    padding: 50px 0;
  }
}

.modalProduct {
  padding: 0 72px 0 84px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 760px;
  overflow: auto;
  .leftSide {
    width: 100%;
    max-width: 860px;
  }
  .picture {
    width: 320px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
  .caption {
    margin-bottom: 10px;
  }
  .characteristics {
    margin-top: 16px;
    ul {
      max-width: 665px;
      li {
        font-size: 18px;
        line-height: 25px;
        color: $colorBlack;
        padding: 14px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & + li {
          border-top: 1px solid #d7d7d7;
        }
      }
    }
    .title {
    }
    .data {
    }
  }
  .priceBlock {
    margin-top: 34px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 19px;
        &.sale {
          .price {
            color: #4c535b;
            font-size: 20px;
            text-decoration: line-through;
            font-weight: 400;
            .cur {
              font-size: 13px;
            }
          }
        }
        & + li {
          margin-left: 64px;
        }
      }
    }
    .price {
      font-weight: 700;
      font-size: 25px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e95a0c;
      display: block;
      .cur {
        font-size: 20px;
      }
    }
    .desc {
      font-size: 16px;
      line-height: 12px;
      color: #818181;
      display: block;
    }
  }
  .btn {
    min-width: 232px;
    margin-top: 29px;
  }
}

.modalForm {
  padding: 33px 30px;
  .caption {
    margin-bottom: 30px;
    white-space: nowrap;
  }
  .inputWrapper {
    & + .inputWrapper {
      margin-top: 17px;
    }
  }
  .checkBlock {
    margin-top: 14px;
    label {
      line-height: 20px;
    }
  }
  .controls {
    position: static;
    margin-top: 17px;
    display: flex;
    justify-content: center;
  }
  .btn {
    min-width: 232px;
  }
}

#modalThank,
#modalCall {
  .modalWrap {
    max-width: 370px;
  }
}

.modalThank {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #000000;
  min-height: 422px;
  .caption {
    margin-bottom: 13px;
  }
}

.modal__overlay {
  background-color: rgba(71, 74, 81, 0.95);
}

.preloader {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 74, 81, 0.95);
  text-align: center;
  @include transition(all 1s);
  z-index: 15;
  &.animation {
    pointer-events: none;
    background-color: rgba(71, 74, 81, 0.55);
  }
  &.finish {
    background-color: rgba(71, 74, 81, 0);
  }
  &.invisText {
    .text {
      opacity: 0;
    }
  }
  .text {
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    opacity: 0.7;
    margin-bottom: 320px;
    @include transition(all 0.3s);
    @include before {
      background-image: url(../img/arrow-preloader.svg);
      background-position: center;
      background-repeat: no-repeat;
      width: 80px;
      height: 131px;
      top: calc(100% - 3px);
      right: 151px;
    }
    &.hover {
      opacity: 1;
    }
  }
  .preloaderLogo {
    position: fixed;
    left: calc(50% - 205px);
    top: calc(50% - 33px);
    @include transition(all 1s);
    width: 365px;
    img {
      width: 100%;
      object-fit: contain;
    }
    &.position {
      width: 208px;
      height: 46px;
      .logoBurger {
        left: 30px;
        top: 0;
        width: 32px;
        height: 32px;
        z-index: 5;
        @include transition(all 1s);
        .line {
          height: 2px;
          & + .line {
            margin-top: 12px;
          }
        }
      }
      .preloaderCheck {
        left: calc(100% - 25px);
        top: 3px;
        width: 70px;
        height: 26px;
        border-width: 2px;
        @include border-radius(20px);
        @include transition(all 1s);
        .circle {
          left: calc(100% - 22px);
          height: 20px;
          width: 20px;
          @include border-radius(20px);
          @include transition(all 1s);
        }
      }
    }
    &.finish {
    }
  }
  .logoBurger {
    left: 56px;
    top: 5px;
    width: 42px;
    height: 45px;
    .line {
      height: 4px;
      & + .line {
        margin-top: 14px;
      }
    }
  }
  .preloaderCheck {
    cursor: pointer;
    position: absolute;
    left: calc(100% - 54px);
    top: 3px;
    width: 100px;
    height: 50px;
    border: solid 3px $colorWhite;
    @include border-radius(50px);
    @include transition(all 0.3s);
    .circle {
      position: absolute;
      left: 1px;
      top: 1px;
      width: 41px;
      height: 41px;
      border: solid 3px $colorSite1;
      @include border-radius(50%);
      @include transition(all 0.3s);
    }
    &.animation {
      width: 25px !important;
      border-width: 2px;
      @include border-radius(50%!important);
      .circle {
        opacity: 0;
      }
    }
    &.active {
      .circle {
        left: calc(100% - 43px);
      }
    }
  }
}
