.header {
  background-color: #474a51;
  box-shadow: 0px 4px 10px #00000026;
  position: relative;
}

.headerContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 21px 0;
  position: relative;
  max-width: 1482px;
  margin: 0 auto;
  width: 100%;
}

.clientCity {
  display: flex;
  align-items: center;
  margin-left: 69px;
  .title {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $colorWhite;
    margin-right: 9px;
  }
  .city {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $colorSite1;
    text-decoration: underline;
    @include transition(all 0.3s);

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.search {
  width: 112px;
  height: 21px;
  position: relative;
  text-align: center;
  margin-left: auto;
  border-right: 1px solid $colorWhite;
  margin-right: 21px;
  @include transition(all 0.3s);
  &.open {
    border-right-color: transparent;
    input {
      background-color: $colorWhite;
      width: 591px;
      pointer-events: inherit;
      & + .btnSearch {
        left: calc(100% - 38px);
        font-size: 20px;
      }
      .text {
        opacity: 0;
      }
    }
  }
  input {
    position: absolute;
    color: #4c535b;
    height: 36px;
    top: -8px;
    right: 0px;
    width: 0;
    border: 0;
    background-color: transparent;
    @include border-radius(20px);
    @include transition(all 0.3s);
    padding: 0 28px;
    font-size: 12px;
    line-height: 20px;
    pointer-events: none;
    &::placeholder {
      opacity: 1;
    }
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $colorWhite;
    opacity: 1;
    @include transition(opacity 0.3s);
  }
  .btnSearch {
    cursor: pointer;
    color: $colorSite1;
    @include transition(all 0.3s);
    position: absolute;
    left: 3px;
    top: 0;
    font-size: 21px;
  }
}

.headerPhone {
  display: flex;
  align-items: center;
  //   padding-right: 32px;
  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $colorWhite;
    position: relative;
    padding-left: 35px;
    @include transition(color 0.3s);
    @include beforeIcMoon {
      content: "\e900";
      font-size: 16px;
      color: $colorSite1;
      left: 0;
      top: 0;
    }
    &:hover {
      color: $colorSite1;
    }
  }
  .city {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #c4c4c4;
    margin-left: 13px;
  }
}

.menu {
  width: 100%;
  padding: 19px 30px 7px;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
  }
  .linkPage {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $colorWhite;
    @include transition(color 0.3s);
    &:hover {
      color: $colorSite1;
    }
  }
}

.menuArrow {
  position: absolute;
  left: 50%;
  bottom: -25px;
  margin-left: -27px;
  width: 54px;
  height: 27px;
  @include border-radius-bottom-left(50px);
  @include border-radius-bottom-right(50px);
  background-color: #474a51;
  cursor: pointer;
  @include before {
    width: 68px;
    height: 35px;
    background-color: #474a51;
    opacity: 0.6;
    left: -8px;
    bottom: -7px;
    @include border-radius-bottom-left(50px);
    @include border-radius-bottom-right(50px);
    z-index: -1;
  }
  @include after {
    background-image: url("../img/arrowburger.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    left: 50%;
    margin-left: -8px;
    top: -2px;
  }
  &.open {
    &:after {
      @include transform(rotate(180deg));
    }
  }
}
