.header {
  background-color: #474a51;
  box-shadow: 0px 4px 10px #00000026;
  position: relative;
  z-index: 5;
}

.headerContent {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 21px 0;
  max-width: 1460px;
  margin: 0 auto;
  width: 100%;
}

.clientCity {
  display: flex;
  align-items: center;
  margin-left: 69px;
  .title {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: $colorWhite;
    margin-right: 9px;
  }
  .city {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $colorSite1;
    text-decoration: underline;
    @include transition(all 0.3s);

    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.search {
  width: 112px;
  height: 21px;
  position: relative;
  text-align: center;
  margin-left: auto;
  border-right: 1px solid $colorWhite;
  margin-right: 21px;
  @include transition(all 0.3s);
  &.open {
    border-right-color: transparent;
    input {
      background-color: $colorWhite;
      width: 591px;
      pointer-events: inherit;
      & + .btnSearch {
        left: calc(100% - 38px);
        font-size: 20px;
      }
      .text {
        opacity: 0;
      }
    }
  }
  input {
    position: absolute;
    color: #4c535b;
    height: 36px;
    top: -8px;
    right: 0px;
    width: 0;
    border: 0;
    background-color: transparent;
    @include border-radius(20px);
    @include transition(all 0.3s);
    padding: 0 28px;
    font-size: 12px;
    line-height: 20px;
    pointer-events: none;
    &::placeholder {
      opacity: 1;
    }
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $colorWhite;
    opacity: 1;
    @include transition(opacity 0.3s);
  }
  .btnSearch {
    cursor: pointer;
    color: $colorSite1;
    @include transition(all 0.3s);
    position: absolute;
    left: 3px;
    top: 0;
    font-size: 21px;
  }
}

.headerPhone {
  display: flex;
  align-items: center;
  //   padding-right: 32px;
  a {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $colorWhite;
    position: relative;
    padding-left: 35px;
    @include transition(color 0.3s);
    @include beforeIcMoon {
      content: "\e900";
      font-size: 16px;
      color: $colorSite1;
      left: 0;
      top: 0;
    }
    &:hover {
      color: $colorSite1;
    }
  }
  .city {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #c4c4c4;
    margin-left: 13px;
  }
}

.menu {
  width: 100%;
  padding: 19px 30px 7px;
  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
  }
  .linkPage {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $colorWhite;
    @include transition(color 0.3s);
    &:hover {
      color: $colorSite1;
    }
  }
}

.menuArrow {
  position: absolute;
  left: 50%;
  bottom: -25px;
  margin-left: -27px;
  width: 54px;
  height: 27px;
  @include border-radius-bottom-left(50px);
  @include border-radius-bottom-right(50px);
  background-color: #474a51;
  cursor: pointer;
  z-index: 10;
  @include transition(all 0.3s);
  @include before {
    width: 68px;
    height: 35px;
    background-color: #474a51;
    opacity: 0.6;
    left: -8px;
    bottom: -7px;
    @include border-radius-bottom-left(50px);
    @include border-radius-bottom-right(50px);
    z-index: -1;
  }
  @include after {
    background-image: url("../img/arrowburger.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 14px;
    left: 50%;
    margin-left: -8px;
    top: -2px;
  }
  &.open {
    bottom: calc(100% - 28px);
    &:after {
      @include transform(rotate(180deg));
    }
  }
}

.menuDropWrapper {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  background-color: rgba(92, 96, 104, 0.99);
  @include border-radius(0px 0px 10px 10px);
}

.menuDrop {
  width: 100%;
  max-width: 1460px;
  margin: 0 auto;
  padding: 100px 0 66px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  .leftSide {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 55%;
  }

  .rightSide {
    width: calc(50% - 231px);
    position: relative;
    top: -13px;
    padding-left: 4px;
  }

  .col {
    width: calc(100% / 3 - 39px);
    &:first-child {
      ul {
        max-width: 160px;
      }
    }
    .link {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      text-decoration-line: underline;
      color: $colorWhite;
      & + .link {
        margin-top: 20px;
      }
    }
    ul {
      margin-top: 15px;
      li {
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: $colorWhite;
        }
        & + li {
          margin-top: 24px;
        }
      }
    }
    .links {
      margin-top: 0;
      li {
        & + li {
          margin-top: 26px;
        }
      }
    }
    a {
      @include transition(all 0.3s);
      &:hover {
        color: $colorSite1;
      }
    }
  }

  .info {
    display: grid;
    grid-template-columns: 1fr minmax(289px, 1fr);
    justify-content: space-between;
    .item {
      position: relative;
      padding-left: 34px;
      &:nth-child(3) {
        grid-column: 1/3;
        padding-left: 0;
      }
      & + .item {
        // margin-left: 47px;
      }
    }
    .icon {
      color: $colorSite1;
      position: absolute;
      left: 0;
      top: 10px;
    }
    .data {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $colorWhite;
    }
    .title {
      font-weight: 300;
      font-size: 11px;
      line-height: 20px;
      color: #c4c4c4;
      display: block;
    }
    .link {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $colorWhite;
      @include transition(all 0.3s);
      &:hover {
        color: $colorSite1;
      }
    }
  }

  .socialDark {
    margin-top: 35px;
    margin-bottom: 29px;
  }

  .controls {
    margin-top: 40px;
    ul li {
      & + li {
        margin-top: 9px;
      }
    }
    .btn {
      min-width: 288px;
    }
  }

  .dropPartner {
    margin-top: 44px;
    .title {
      font-size: 16px;
      line-height: 13px;
      color: $colorWhite;
      display: block;
      margin-bottom: 15px;
    }
  }
}
