.content {
  position: relative;
  width: 100%;
  flex: 1;
  @include before {
    background-image: url("../img/back-content.png");
    width: 30px;
    height: calc(100% - 8px);
    left: 50%;
    margin-left: -700px;
    top: 8px;
    opacity: 0.4;
    pointer-events: none;
  }
}

.greetingSection {
  position: relative;
  background-image: url("../img/back-grettings.svg");
  background-position: left -135px;
  background-repeat: no-repeat;
  .icon {
    display: block;
    position: absolute;
    left: -55px;
    top: 174px;
    width: 31px;
    height: 31px;
    @include beforeIcMoon {
      content: "\e902";
      color: $colorSite1;
      top: 0;
      left: 0;
      font-size: 31px;
      width: 100%;
      height: 100%;
    }
  }
}

.sliderGrettings {
  .caption {
    &::before {
      display: none;
    }
  }
}

.greeting {
  padding: 158px 11px;
  display: flex;
  align-items: flex-start;
  position: relative;
  min-height: 756px;
  .caption {
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorBlack;
    &::before {
      left: -66px;
    }
    .desc {
      display: block;
      font-weight: 300;
      font-size: 45px;
      letter-spacing: 0.3em;
    }
  }
  .textSimple {
    margin-top: 7px;
    max-width: 475px;
    line-height: 29px;
    letter-spacing: 0.1em;
  }
  .btn {
    margin-top: 30px;
    min-width: 232px;
  }
  .picture {
  }
  .leftSide {
    width: 50%;
  }
  .rightSide {
    position: absolute;
    right: -23px;
    top: 18px;
    img {
    }
  }
}

.whySection {
}

.whyBlock {
  .caption {
  }
}

.whyList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 35px 11px;
  .item {
    position: relative;
    width: calc(100% / 5 - 62px);
    &:nth-child(2n) {
      margin-top: 92px;
      .line {
        top: 0;
        &::after,
        &::before {
          @include transform(scaleX(-1));
          top: -58px;
          background-position: right center;
        }
      }
    }
    &:last-child {
      .line {
        display: none;
      }
    }
    &.aos-animate {
      .icon {
      }
      .line {
        &::after {
          width: 100%;
        }
      }
    }
  }
  .icon {
    @include transition(all 1s 0.3s);
    font-size: 80px;
    &.aos-animate {
      color: $colorSite1;
    }
  }
  .txt {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #0d0d0d;
    margin-top: 41px;
    white-space: nowrap;
  }
  .line {
    width: 165px;
    height: 99px;
    position: absolute;
    left: calc(100% - 107px);
    top: 38px;
    @include before {
      background-image: url(../img/whyline1.svg);
      width: 100%;
      height: 100%;
      background-position: left center;
      background-repeat: no-repeat;
    }
    @include after {
      background-image: url(../img/whyline2.svg);
      width: 0;
      height: 100%;
      background-position: left center;
      background-repeat: no-repeat;
    }
    &.aos-animate {
      &::after {
        width: 100%;
      }
    }
  }
}

.ourDeveloperSection {
  padding: 56px 0 16px;
}

.ourDeveloper {
  .tabsInformation {
    margin-top: 27px;
  }
}

.tabsInformation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .tabsHead {
    width: 217px;
    li {
      &.active {
        a {
          box-shadow: 0px 0px 20px rgba(233, 90, 12, 0.26);
        }
        .name {
          color: $colorBlack;
        }
        img {
          @include filter(grayscale(0%));
        }
      }
      & + li {
        margin-top: 17px;
      }
    }
    a {
      cursor: pointer;
      background-color: $colorWhite;
      box-shadow: 0px 4px 25px rgba(76, 83, 91, 0.27);
      @include border-radius(10px);
      @include transition(all 0.3s);
      display: block;
      padding: 11px 7px 2px 4px;
    }
    img {
      width: 100%;
      @include filter(grayscale(100%));
      @include transition(all 0.3s);
    }
    .name {
      font-weight: 500;
      font-size: 16px;
      line-height: 40px;
      letter-spacing: 0.15em;
      color: #9a9a9a;
      @include transition(color 0.3s);
      width: 100%;
      padding: 0 9px;
      display: block;
    }
  }
  .tabsBody {
    padding: 66px 46px 61px;
    position: relative;
    width: calc(100% - 238px);
    background: $colorWhite;
    box-shadow: 0px 4px 25px rgba(76, 83, 91, 0.27);
    @include border-radius(10px);
  }
  .picture {
    position: absolute;
    bottom: -50px;
    right: 41px;
  }
  .btn {
    margin-left: 24px;
    min-width: 230px;
    margin-top: 23px;
  }
  &.change {
    .tabsBody {
      .listOurDev {
        animation: fadeInUp 1s both 0.3s;
      }
    }
    .picture,
    .btn {
      animation: fadeInUp 1s both 0.3s;
    }
  }
  .controls {
    display: none;
    width: 100%;
    .prev {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 48px;
      top: 0;
      left: 0;
      @include transition(all 0.3s);
      color: #acb6c1;
      align-items: center;
      justify-content: center;
      @include after {
        content: "prev";
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
        position: relative;
      }
    }
    .next {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      width: 24px;
      height: 48px;
      top: 0;
      right: 0;
      @include transition(all 0.3s);
      color: #acb6c1;
      align-items: center;
      justify-content: center;
      @include after {
        content: "next";
        font-family: swiper-icons;
        font-size: var(--swiper-navigation-size);
        text-transform: none !important;
        letter-spacing: 0;
        text-transform: none;
        font-variant: initial;
        line-height: 1;
        position: relative;
      }
    }
  }
}

.listOurDev {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -19px;
  opacity: 1;
  .item {
    position: relative;
    width: calc(50% - 2px);
    margin-bottom: 48px;
    padding-left: 74px;
  }
  .icon {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: -4px;
    color: $colorSite1;
  }
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: $colorSite1;
    letter-spacing: 0.15em;
    margin-bottom: 4px;
    display: block;
  }
  p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #48494e;
  }
}

.youPartnersSection {
  padding: 130px 0 70px;
}

.youPartners {
  position: relative;
}

.youPartnerSliderWrapper {
  position: relative;
}

.youPartnerSlider {
  margin-bottom: 100px;
  margin-top: 38px;
  .item {
    @include invisLink;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 130px;
  }
}

.configuratorSection {
}

.configurator {
  background: $colorWhite;
  box-shadow: 0px 4px 25px rgba(76, 83, 91, 0.27);
  @include border-radius(10px);
  padding: 60px 60px 55px;
  .caption {
    line-height: 40px;
    .icon {
      left: -115px;
    }
  }
  .desc {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
    display: block;
  }
  .listInputWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -57px -39px;
  }
  .inputWrapper {
    margin-bottom: 40px;
    width: calc(100% / 3 - 177px);
    margin: 0 57px 40px;
    label {
      color: #48494e;
      font-size: 14px;
      letter-spacing: 0.15em;
      margin-bottom: 8px;
      white-space: nowrap;
    }
    input {
      color: #474a51;
    }
  }
  .btn {
    min-width: 232px;
    margin-top: 54px;
  }
}

.mapSection {
  padding-top: 100px;
  padding-bottom: 100px;
}

.map {
  position: relative;
  width: 100%;
  height: 510px;
  overflow: hidden;
  margin-top: 8px;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
  @include border-radius(10px);
}

.titlePage {
  padding: 47px 0 10px;
  .breadCrumbs {
  }
  .caption {
  }
  & + .contactsSection {
    .leftSide {
      padding-top: 60px;
    }
  }
}

.solutionsSection {
  padding-bottom: 158px;
  position: relative;
  // @include after {
  //   background-image: url("../img/back-content1.svg");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   width: 1920px;
  //   height: 1921px;
  //   left: 50%;
  //   top: 46px;
  //   margin-left: -960px;
  //   z-index: -1;
  //   pointer-events: none;
  // }
  @include after {
    background-image: url("../img/back-content1.svg");
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 1920px;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    background-size: cover;
  }
}

.solutions {
  position: relative;
  .captionInvis {
    left: 50px;
    bottom: -137px;
    top: auto;
  }
}

.solutionsList {
  display: flex;
  flex-wrap: wrap;
  margin: 38px -10px -28px;
  .item {
    background: $colorWhite;
    box-shadow: 0px 4px 30px rgba(76, 83, 91, 0.21);
    @include border-radius(10px);
    padding: 24px 24px 32px;
    width: calc(100% / 3 - 20px);
    margin: 0 10px 28px;
  }
  .picture {
    @include border-radius(10px);
    position: relative;
    padding-top: calc(268 / 384 * 100%);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .text {
    margin-top: 34px;
    .name {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      max-width: 250px;
      min-height: 50px;
      color: #4c535b;
      display: block;
      @include transition(color 0.3s);
      &:hover {
        color: $colorSite1;
      }
    }
    .title {
      font-size: 14px;
      line-height: 12px;
      letter-spacing: -0.01em;
      display: block;
      color: #4c535b;
      font-weight: 400;
      margin-bottom: 6px;
    }
  }
  .complectBlock {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #4c535b;
  }
  .priceBlock {
    margin-top: 31px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title {
      margin-right: 16px;
      margin-bottom: 0;
    }
    .price {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e95a0c;
    }
  }
  .controls {
    margin-top: 24px;
  }
  .btn {
    min-width: 195px;
    height: 43px;
    line-height: 22px;
    font-size: 14px;
    padding: 10px 0;
  }
}

.solutionsPackSection {
  padding: 94px 0;
}

.packList {
  margin: 80px -10px 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  .item {
    position: relative;
    @include border-radius(10px);
    background: $colorWhite;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    margin: 0 10px;
    width: calc(100% / 3 - 20px);
    min-height: 406px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin-bottom: 50px;
  }
  .head {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #383838;
    padding: 19px 40px 13px;
    .name {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
    }
    .desc {
      font-weight: 400;
      display: block;
    }
  }
  .info {
    padding: 10px 40px;
    ul {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      color: $colorBlack;
    }
    li {
      position: relative;
      padding-left: 14px;
      @include before {
        width: 5px;
        height: 5px;
        background-color: $colorSite1;
        @include border-radius(50%);
        left: 0;
        top: 50%;
        margin-top: -2.5px;
      }
      & + li {
        margin-top: 6px;
      }
    }
  }
  .controls {
    padding: 0 40px;
    display: flex;
    align-items: center;
    margin-top: auto;
    .btn {
      min-width: 168px;
      margin-right: 35px;
      height: 41px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 5px;
    }

    .price {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      display: block;
      color: #e95a0c;
    }

    .desc {
      font-size: 16px;
      line-height: 12px;
      display: flex;
      align-items: center;

      color: #818181;
    }
  }
}

.serviceSection {
  padding-bottom: 80px;
  .tabSection {
    .tabs {
      margin-top: 0;
    }
  }
}

.serviceText {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  @include border-radius(10px);
  padding: 35px 39px;
  img {
    float: right;
    margin-left: 15px;
    position: relative;
  }
  .caption {
    max-width: 300px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .textSimple {
    img {
      & + p {
        margin-top: 9px;
      }
    }
  }
  .btn {
    margin-top: 21px;
    min-width: 232px;
  }
}

.packages {
  margin: 47px -13.5px 25px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  .item {
    background-color: $colorWhite;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    @include border-radius(10px);
    margin: 0 13.5px 27px;
    width: calc(100% / 4 - 27px);
  }
  .head {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    padding: 19px 5px 15px 26px;
    .name {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #383838;
    }
  }
  .info {
    padding: 17px 26px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #656565;
    p {
      min-height: 93px;
    }
  }
  .packSet {
    margin-bottom: 11px;
    width: calc(100% + 25px);
    min-height: 74px;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
    }
    li {
      position: relative;
      font-size: 10px;
      line-height: 12px;
      color: #818181;
      text-align: center;
      &:first-child {
        width: 85px;
      }
      &:nth-child(2) {
        width: auto;
      }
      .title {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #818181;
        display: block;
        text-align: left;
      }
      .name {
        font-weight: 750;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #474a51;
        display: block;
        text-align: left;
      }
      img {
      }
      & + li {
        margin-left: 5px;
        @include after {
          content: "+";
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #4c535b;
          font-weight: 700;
          left: -8px;
          top: 50%;
          margin-top: -18px;
        }
      }
    }
  }
  .priceBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    .col {
    }
    .price {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $colorSite1;
      .cur {
        font-size: 17px;
      }
    }
    .desc {
      font-size: 10px;
      line-height: 12px;
      color: #818181;
    }
  }
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
  }

  .btn {
    padding: 5px 10px;
    font-size: 14px;
    min-width: 150px;
  }
  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.developersSection {
  padding: 18px 0 228px;
}

.developers {
  position: relative;
  .developerBlock {
    & + .developerBlock {
      margin-top: 138px;
    }
  }
  .captionInvis {
    bottom: -150px;
    left: 45px;
    top: auto;
  }
}

.developerBlock {
  position: relative;
  padding: 28px 63px 51px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  background-color: $colorWhite;
  display: flex;
  flex-wrap: wrap;
  @include border-radius(10px);
  &:nth-child(2n) {
    justify-content: flex-end;
    .side {
      max-width: 800px;
    }
    .picture {
      right: auto;
      left: 0px;
      bottom: 26px;
    }
  }
  .side {
    max-width: 780px;
    width: 100%;
  }
  .picture {
    position: absolute;
    right: -100px;
    bottom: 49px;
  }
  .caption {
    line-height: 75px;
    color: #474a51;
  }
  .textSimple {
  }
  .controls {
    margin-top: 40px;
    margin: 40px -10px 0;
  }
  .btn {
    min-width: 217px;
    padding: 13px 47px;
    margin: 0 10px;
  }
}

.offersSection {
  padding-bottom: 134px;
  @include after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 918px;
    background-image: url(../img/offer-page.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}

.offersSliderWrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 10px;
  left:44px;
  .caption {
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
  }
  & + .offersSliderWrapper {
    margin-top: 34px;
  }
  &:last-child {
    .captionInvis {
      display: none;
    }
  }
  .captionInvis {
    position: absolute;
    left: 67px;
    bottom: -137px;
    top: auto;
  }
  .swiper-button-prev {
    left: -115px;
  }
  .swiper-button-next {
    right: -61px;
  }
}

.offersSlider {
  margin: -15px -15px;
  .item {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
  }
  .offer {
    background-color: $colorWhite;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    @include border-radius(10px);
    min-height: 328px;
    display: flex;
    flex-direction: column;
  }
  .head {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    padding: 19px 11px 11px 26px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    color: #383838;
    min-height: 55px;
    display: flex;
    align-items: center;
  }
  .offerContent {
    padding: 19px 3px 19px 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    flex: 1;
  }
  .text {
    font-size: 10px;
    line-height: 15px;
    color: #656565;
    display: flex;
    align-items: flex-start;
    img {
    }
  }
  .priceBlock {
    margin-top: 12px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 19px;
        &.sale {
          .price {
            color: #4c535b;
            font-size: 12px;
            text-decoration: line-through;
            font-weight: 400;
            .cur {
              font-size: 13px;
            }
          }
        }
        & + li {
        }
      }
    }
    .price {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e95a0c;
      display: block;
      .cur {
        font-size: 18px;
      }
    }
    .desc {
      font-size: 10px;
      line-height: 12px;
      color: #818181;
      display: block;
    }
  }
  .notOffer {
    font-weight: 700;
    padding-right: 15px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #aaabad;
    width: 100%;
    text-align: center;
  }
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    width: 100%;
    padding-right: 26px;
  }
  .btn {
    padding: 5px 14px;
    min-width: 169px;
    font-size: 14px;
  }
  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.aboutBlock {
  padding-bottom: 80px;
  .textSimple {
    strong {
      color: $colorSite1;
      font-weight: 500;
    }
    img {
      float: right;
      margin-left: 25px;
      margin-top: -29px;
    }
  }
}

.stepSection {
  position: relative;
  @include after {
    background-image: url("../img/back-content1.svg");
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    height: 1921px;
    left: 0;
    top: 46px;
    z-index: -1;
    pointer-events: none;
    background-size: cover;
  }
  .caption {
  }
  .stepList {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 49px -36px -51px;
  }
  .stepItem {
    position: relative;
    text-align: center;
    width: calc(100% / 4 - 72px);
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
    margin: 0 36px 43px;
    &:nth-child(5n) {
      &::before,
      &::after {
        display: none;
      }
    }
    & + .stepItem {
      @include before {
        width: 12px;
        height: 12px;
        left: -80px;
        top: 12px;
        background-color: $colorSite1;
        @include border-radius(50%);
      }
      @include after {
        left: -75px;
        top: 17px;
        width: 86px;
        height: 2px;
        background-color: #c5c5c5;
        z-index: -1;
      }
    }
  }
  .name {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #474a51;
    margin-bottom: 10px;
    display: block;
  }
}

.reviewsSection {
  padding-bottom: 0;
  & + .contactsSection {
    margin-top: 70px;
  }
}

.reviews {
  padding: 17px 0;
  .swiper-button-next {
    right: -100px;
  }
  .swiper-button-prev {
    left: -135px;
  }
  .swiper-pagination {
    margin-top: 30px;
  }
  .tabsWithLeft {
    .tabsLeftSide {
      padding-top: 88px;
    }
  }
}

.sliderReviewsWrapper {
}

.sliderReviews {
  .item {
    padding: 10px 10px;
  }

  .userName {
    margin-bottom: 10px;
  }

  .reviewHead {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    padding: 19px 26px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #383838;
    display: flex;
    align-items: center;
  }

  .reviewBody {
    padding: 15px 26px 22px;
    font-size: 18px;
    line-height: 26px;
    color: $colorBlack;
  }

  .review {
    background: $colorWhite;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    @include border-radius(10px);
  }

  .controls {
    margin-top: 16px;
  }

  .btn {
    padding: 5px 15px;
    min-width: 168px;
  }
}

.sliderDocumentsWrapper {
}

.sliderDocuments {
  .item {
    padding: 17px;
  }
  .reviewPicture {
    @include border-radius(10px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
}

.userName {
  font-size: 16px;
  line-height: 25px;

  .title {
    color: #4c535b;
    display: block;
  }
  .name {
    color: $colorSite1;
    display: block;
    font-weight: 700;
    font-size: 17px;
    letter-spacing: 0.01em;
  }
}

.teamSection {
  padding-top: 7px;
  padding-bottom: 75px;
  position: relative;
  .contactsSection {
    margin-top: 33px;
  }
  @include before {
    background-image: url(../img/offer-page.svg);
    background-position: center top;
    background-repeat: no-repeat;
    left: 0;
    top: 145px;
    width: 100%;
    height: 918px;
    z-index: -1;
    background-size: cover;
  }
}

.teamWrapper {
  padding-bottom: 100px;
  .captionInvis {
    top: auto;
    bottom: -125px;
  }
  .swiper-pagination {
    margin-top: -12px;
  }
  .caption {
  }
  .desc {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
    display: block;
    margin-top: -14px;
  }
}

.sliderTeam {
  margin: 0 -33px;
  .item {
    padding: 60px 33px;
  }
}

.team {
  background: $colorWhite;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  @include border-radius(10px);
  padding: 30px 26px 20px;
  position: relative;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: $colorBlack;
  .userName {
    margin-bottom: 12px;
  }
  .exp {
    font-size: 16px;
    line-height: 20px;
    color: #474a51;
    display: table;
    background-color: #dce2ea;
    padding: 0 5px;
    margin-bottom: 20px;
    letter-spacing: 0.01em;
  }
  .picture {
    position: absolute;
    right: -20px;
    top: -52px;
    @include border-radius(50%);
    border: solid 1px $colorSite1;
  }
}

.contactsSection {
  .captionInvis {
    top: auto;
    bottom: -150px;
  }
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .leftSide {
    max-width: 505px;
    width: 100%;
  }
  .contactsForm {
    background: $colorWhite;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    @include border-radius(10px);
    max-width: 772px;
    width: 100%;
    margin-top: 20px;
  }
  .desc {
    display: block;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #000000;
  }
}

.contactsInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 40px;
  width: 100%;

  li {
    position: relative;
    padding-left: 36px;
    margin-bottom: 23px;
    &:first-child {
    }
    &:nth-child(3) {
      grid-column: 1/3;
    }
    &:nth-child(4) {
      grid-column: 1/3;
    }
    & + li {
    }
  }
  .icon {
    color: $colorSite1;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .data {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $colorBlack;
  }
  .title {
    font-weight: 300;
    font-size: 11px;
    line-height: 20px;
    color: #c4c4c4;
    display: block;
  }
  .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $colorBlack;
    @include transition(all 0.3s);
    &:hover {
      color: $colorSite1;
    }
  }
}

.contactsForm {
  position: relative;
  z-index: 3;
  padding: 32px 55px 50px;
  .caption {
    &::before {
      display: none;
    }
  }
  .listInputWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -17px;
  }
  .inputWrapper {
    margin: 0 17px;
    width: calc(50% - 84px);
    label {
    }
    input {
    }
  }
  .checkBlock {
    margin-top: 17px;
  }
  .btn {
    min-width: 232px;
    margin-top: 10px;
  }
  .picture {
    position: absolute;
    right: -398px;
    top: 54px;
    pointer-events: none;
    z-index: -1;
  }
}

.notPage {
  padding: 170px 0 80px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: $colorBlack;
  position: relative;
  @include before {
    background-image: url(../img/offer-page.svg);
    background-position: center top;
    background-repeat: no-repeat;
    left: 0;
    top: 145px;
    width: 100%;
    height: 918px;
    z-index: -1;
    background-size: cover;
  }
  strong {
    color: $colorSite1;
    font-weight: 500;
    display: block;
  }
  p {
    max-width: 505px;
    margin: 88px auto 0;
  }
  .error {
    font-size: 170px;
    line-height: 75px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    display: block;
    text-align: center;
    color: $colorSite1;
    @include transform(translateX(18px));
  }
  .btn {
    margin-top: 27px;
    min-width: 318px;
  }
  .captionInvis {
    left: 50%;
    margin-left: -597px;
    top: 105px;
  }
  .picture {
    position: absolute;
    left: calc(50% + 285px);
    bottom: -83px;
    z-index: -1;
  }
}

.educationSection {
  padding: 0 0 138px;
  .tabs {
    margin-top: 17px;
    .tabsHead {
      a {
        padding: 5px 47px;
      }
    }
    .tabsBody {
      margin-top: 13px;
    }
  }
}

.education {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  .leftSide {
    position: relative;
    overflow: hidden;
    @include border-radius(20px);
    max-width: 825px;
    padding-top: calc(190 / 750 * 100%);
    width: 100%;
    &>*{
      position: absolute;
      left:0;
      top:0;
      width: 100%;
      object-fit: contain;
    }
  }
  .rightSide {
    width: 425px;
    padding-top: 42px;
  }
  .docLink {
    & + .docLink {
      margin-top: 95px;
    }
    & + .linkSite {
      margin-top: 89px;
    }
  }
  .linkSite {
  }
  .btn {
    margin-top: 50px;
    min-width: 322px;
    img {
      display: inline;
      vertical-align: middle;
      margin-left: 16px;
    }
  }
}

.mediaSection {
  padding: 18px 0 31px;
}

.mediaWrap {
  min-height: 612px;
  .tabsWithLeft {
    margin-top: 45px;
  }
  .tabsLeftSide {
    padding-top: 35px;
    li {
      & + li {
        margin-top: 45px;
      }
    }
  }
  .tabsContent {
  }
  .linkCalendar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .link {
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-decoration-line: underline;
      color: #474a51;
      display: flex;
      align-items: center;
      @include transition(all 0.3s);
      img {
        margin-left: 17px;
      }
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
  .captionInvis {
    top: auto;
    bottom: -105px;
    left: 32px;
  }
}

.sliderMediaWrapper {
  .swiper-button-next {
    right: -100px;
  }
  .swiper-button-prev {
    left: -120px;
  }
  .swiper-pagination {
    margin-top: 67px;
  }
}

.sliderMedia {
  margin: 0 -15px;
  .item {
    padding: 15px;
  }
}

.media {
  background: $colorWhite;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  @include border-radius(10px);
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: $colorBlack;

  .mediaHead {
    background-color: #cad1d9;
    @include border-radius(10px 10px 0px 0px);
    font-weight: 750;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #474a51;
    padding: 19px 11px 11px 26px;
  }
  .mediaBody {
    padding: 26px;
    img {
      margin: 0 auto 19px;
    }
  }
  .controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
    .date {
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: #474a51;
      padding: 0 5px;
      background-color: #cad1d9;
    }
    .link {
      font-weight: 700;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-decoration-line: underline;
      color: #4c535b;
      @include transition(all 0.3s);
      &:hover {
        text-decoration-color: transparent;
      }
    }
  }
}

.calendarWrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 26px);
  background: $colorWhite;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  @include border-radius(10px);
  margin-left: auto;
  padding-bottom: 28px;
  .calendarPrev {
    position: relative;
    display: block;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 48px;
    top: 50%;
    left: -120px;
    @include transition(all 0.3s);
    color: #acb6c1;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    @include after {
      content: "prev";
      font-family: swiper-icons;
      font-size: var(--swiper-navigation-size);
      text-transform: none !important;
      letter-spacing: 0;
      text-transform: none;
      font-variant: initial;
      line-height: 1;
    }
  }
  .calendarNext {
    position: relative;
    display: block;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 48px;
    top: 50%;
    right: -100px;
    @include transition(all 0.3s);
    color: #acb6c1;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    @include after {
      content: "next";
      font-family: swiper-icons;
      font-size: var(--swiper-navigation-size);
      text-transform: none !important;
      letter-spacing: 0;
      text-transform: none;
      font-variant: initial;
      line-height: 1;
    }
  }
  .calendarTitle {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorWhite;
    padding: 19px 43px 11px 40px;
    height: 55px;
    background-color: $colorSite1;
    @include border-radius(10px 10px 0px 0px);
    .month {
      text-transform: uppercase;
    }
  }
}

.calendar {
  width: 630px;
  border-collapse: collapse;
  border: 0;
  .thead {
    display: flex;
    align-items: center;
    margin: -17px 0 -3px;
  }
  .tbody {
    font-weight: 750;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
  }
  .td {
    cursor: pointer;
    text-align: center;
    @include border-radius(50%);
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    margin: 10px 25px;
    @include transition(all 0.3s);
  }
  .tr {
    display: flex;
    align-items: center;
  }

  thead {
  }

  .tbody {
    .td {
      &:hover {
        background-color: rgba(233, 90, 12, 0.4);
      }
    }
  }

  .calendarHead {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #747d88;
  }

  .weekend {
    color: $colorSite1;
  }

  .today {
    background-color: #e95a0c;
    color: $colorWhite;
  }
}

.listEvent {
  width: 331px;
  padding-left: 25px;
  border-left: 1px solid #aeaeae;
  .head {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
    font-weight: 700;
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 15px;
    margin-bottom: 24px;
  }
  .line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
    font-weight: 700;
    .link {
      @include transition(all 0.3s);
      color: #4c535b;
      text-decoration: underline;
      &:hover {
        text-decoration-color: transparent;
      }
    }
    & + .line {
      margin-top: 44px;
    }
  }
}

.listMount {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 27px;
  margin-bottom: 32px;
  li {
    cursor: pointer;
    position: relative;
    padding-left: 22px;
    @include transition(all 0.3s);
    @include before {
      width: 12px;
      height: 12px;
      left: 0;
      top: 50%;
      margin-top: -6px;
      background-color: #4c535b;
      @include border-radius(50%);
    }
    &.active,
    &:hover {
      color: $colorSite1;
      &::before {
        background-color: $colorSite1;
      }
    }
  }
}

.solutionItem {
  position: relative;
  z-index: 3;
  padding-bottom: 58px;
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .picture {
      @include border-radius(10px);
      overflow: hidden;
    }
    .title {
      display: block;
      font-weight: 500;
      line-height: 30px;
      margin-bottom: 10px;
    }
    .info {
      width: 50%;
      padding: 10px;
    }
    .row {
      & + .row {
        margin-top: 15px;
      }
    }
  }
  .textSimple {
    margin-top: 50px;
    .caption {
      margin-bottom: 15px;
      &::before {
        display: none;
      }
    }
  }

  .priceBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title {
      margin-right: 16px;
      margin-bottom: 0;
    }
    .price {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e95a0c;
    }
  }
  .btn {
    min-width: 210px;
    margin-top: 15px;
  }
}

.solution {
  padding-bottom: 160px;
  .solutionsPackSection {
    padding-top: 0;
  }
}

.packagesWrapper {
  padding-top: 86px;
}
