.content {
  position: relative;
  @include before {
    background-image: url("../img/back-content.png");
    width: 30px;
    height: calc(100% - 8px);
    left: 50%;
    margin-left: -700px;
    top: 8px;
    opacity: 0.4;
    pointer-events: none;
  }
}

.greetingSection {
  position: relative;
  background-image: url("../img/back-grettings.png");
  background-position: left -135px;
  background-repeat: no-repeat;
}

.greeting {
  padding: 158px 11px;
  display: flex;
  align-items: flex-start;
  position: relative;
  min-height: 756px;
  .caption {
    font-size: 55px;
    line-height: 65px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorBlack;
    &::before {
      left: -66px;
    }
    .desc {
      display: block;
      font-weight: 300;
      font-size: 45px;
      letter-spacing: 0.3em;
    }
  }
  .textSimple {
    margin-top: 7px;
    max-width: 475px;
    line-height: 29px;
    letter-spacing: 0.1em;
  }
  .btn {
    margin-top: 30px;
    min-width: 232px;
  }
  .picture {
  }
  .leftSide {
    width: 50%;
  }
  .rightSide {
    position: absolute;
    right: -23px;
    top: 18px;
    img {
    }
  }
}

.whySection {
}

.whyBlock {
  .caption {
  }
}

.whyList {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 35px 11px;
  .item {
    position: relative;
    width: calc(100% / 5 - 62px);
    &:nth-child(2n) {
      margin-top: 92px;
      .line {
        top: 0;
        &::after,
        &::before {
          @include transform(scaleX(-1));
          top: -58px;
          background-position: right center;
        }
      }
    }
    &:last-child {
      .line {
        display: none;
      }
    }
  }
  .icon {
    font-size: 80px;
    @include transition(all 0.3s);
    &.active {
      color: $colorSite1;
    }
  }
  .txt {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #0d0d0d;
    margin-top: 41px;
    white-space: nowrap;
  }
  .line {
    width: 165px;
    height: 99px;
    position: absolute;
    left: calc(100% - 107px);
    top: 38px;
    @include before {
      background-image: url(../img/whyline1.svg);
      width: 100%;
      height: 100%;
      background-position: left center;
      background-repeat: no-repeat;
      @include transition(all 0.3s);
    }
    @include after {
      background-image: url(../img/whyline2.svg);
      width: 0;
      height: 100%;
      background-position: left center;
      background-repeat: no-repeat;
      @include transition(all 0.3s);
    }
    &.active {
      &::after {
        width: 100%;
      }
    }
  }
}

.ourDeveloperSection {
  padding: 56px 0 16px;
}

.ourDeveloper {
  .tabsInformation {
    margin-top: 27px;
  }
}

.tabsInformation {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .tabsHead {
    width: 217px;
    li {
      &.active {
        a {
          box-shadow: 0px 0px 20px rgba(233, 90, 12, 0.26);
        }
        .name {
          color: $colorBlack;
        }
        img {
          @include filter(grayscale(0%));
        }
      }
      & + li {
        margin-top: 17px;
      }
    }
    a {
      cursor: pointer;
      background-color: $colorWhite;
      box-shadow: 0px 4px 25px rgba(76, 83, 91, 0.27);
      @include border-radius(10px);
      @include transition(all 0.3s);
      display: block;
      padding: 11px 7px 2px 4px;
    }
    img {
      width: 100%;
      @include filter(grayscale(100%));
      @include transition(all 0.3s);
    }
    .name {
      font-weight: 500;
      font-size: 16px;
      line-height: 40px;
      letter-spacing: 0.15em;
      color: #9a9a9a;
      @include transition(color 0.3s);
      width: 100%;
      padding: 0 9px;
      display: block;
    }
  }
  .tabsBody {
    padding: 66px 46px 61px;
    position: relative;
    width: calc(100% - 238px);
    background: $colorWhite;
    box-shadow: 0px 4px 25px rgba(76, 83, 91, 0.27);
    @include border-radius(10px);
  }
  .picture {
    position: absolute;
    bottom: -50px;
    right: 41px;
  }
  .btn {
    margin-left: 24px;
    min-width: 230px;
    margin-top: 23px;
  }
}

.listOurDev {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: -19px;
  .item {
    position: relative;
    width: calc(50% - 2px);
    margin-bottom: 48px;
    padding-left: 74px;
  }
  .icon {
    font-size: 50px;
    position: absolute;
    left: 0;
    top: -4px;
    color: $colorSite1;
  }
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: $colorSite1;
    letter-spacing: 0.15em;
    margin-bottom: 4px;
    display: block;
  }
  p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #48494e;
  }
}

.youPartnersSection {
  padding: 131px 0 80px;
}

.youPartners {
  position: relative;
}

.youPartnerSlider {
  margin-top: 38px;
  .item {
    @include invisLink;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 130px;
  }
}

.configuratorSection {
}

.configurator {
  background: $colorWhite;
  box-shadow: 0px 4px 25px rgba(76, 83, 91, 0.27);
  @include border-radius(10px);
  padding: 60px 60px 55px;
  .caption {
    line-height: 40px;
    &::before {
      left: -115px;
    }
  }
  .desc {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
  }
  .listInputWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 30px -57px -39px;
  }
  .inputWrapper {
    margin-bottom: 40px;
    width: calc(100% / 3 - 177px);
    margin: 0 57px 40px;
    label {
      color: #48494e;
      font-size: 14px;
      letter-spacing: 0.15em;
      margin-bottom: 8px;
      white-space: nowrap;
    }
    input {
      color: #474a51;
    }
  }
  .btn {
    min-width: 232px;
    margin-top: 54px;
  }
}

.mapSection {
  padding-top: 80px;
  padding-bottom: 86px;
}

.map {
  position: relative;
  width: 100%;
  height: 510px;
  overflow: hidden;
  margin-top: 8px;
  filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.25));
  @include border-radius(10px);
}

.titlePage {
  padding: 20px 0 6px;
  .breadCrumbs {
  }
  .caption {
  }
}

.solutionsSection {
  padding-bottom: 102px;
  position: relative;
  @include after {
    background-image: url("../img/back-content1.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1921px;
    left: 50%;
    top: 46px;
    margin-left: -960px;
    z-index: -1;
    pointer-events: none;
  }
}

.solutions {
  position: relative;
  .captionInvis {
    left: 50px;
    bottom: -90px;
    top: auto;
  }
}

.solutionsList {
  display: flex;
  flex-wrap: wrap;
  margin: 38px -10px -28px;
  .item {
    background: $colorWhite;
    box-shadow: 0px 4px 30px rgba(76, 83, 91, 0.21);
    @include border-radius(10px);
    padding: 24px 24px 32px;
    width: calc(100% / 3 - 20px);
    margin: 0 10px 28px;
  }
  .picture {
    @include border-radius(10px);
    position: relative;
    padding-top: calc(268 / 384 * 100%);
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
  .text {
    margin-top: 34px;
    .name {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      max-width: 250px;
      min-height: 50px;
      color: #4c535b;
      display: block;
      @include transition(color 0.3s);
      &:hover {
        color: $colorSite1;
      }
    }
    .title {
      font-size: 14px;
      line-height: 12px;
      letter-spacing: -0.01em;
      display: block;
      color: #4c535b;
      font-weight: 400;
      margin-bottom: 6px;
    }
  }
  .complectBlock {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #4c535b;
  }
  .priceBlock {
    margin-top: 31px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .title {
      margin-right: 16px;
      margin-bottom: 0;
    }
    .price {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e95a0c;
    }
  }
  .controls {
    margin-top: 24px;
  }
  .btn {
    min-width: 195px;
    height: 43px;
    line-height: 22px;
    font-size: 14px;
    padding: 10px 0;
  }
}

.solutionsPackSection {
  padding: 94px 0;
}

.packList {
  margin: 39px -10px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  .item {
    position: relative;
    @include border-radius(10px);
    background: $colorWhite;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    margin: 0 10px;
    width: calc(100% / 3 - 20px);
    min-height: 406px;
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    margin-bottom: 50px;
  }
  .head {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: #383838;
    padding: 19px 40px 13px;
    .name {
      font-weight: 700;
      text-transform: uppercase;
      display: block;
    }
    .desc {
      font-weight: 400;
      display: block;
    }
  }
  .info {
    padding: 10px 40px;
    ul {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      color: $colorBlack;
    }
    li {
      position: relative;
      padding-left: 14px;
      @include before {
        width: 5px;
        height: 5px;
        background-color: $colorSite1;
        @include border-radius(50%);
        left: 0;
        top: 50%;
        margin-top: -2.5px;
      }
      & + li {
        margin-top: 6px;
      }
    }
  }
  .controls {
    padding: 0 40px;
    display: flex;
    align-items: center;
    margin-top: auto;
    .btn {
      min-width: 168px;
      margin-right: 35px;
      height: 41px;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 5px;
    }
    .priceBlock {
    }
    .price {
      font-size: 20px;
      line-height: 20px;
      font-weight: 700;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      display: block;
      color: #e95a0c;
    }

    .desc {
      font-size: 16px;
      line-height: 12px;
      display: flex;
      align-items: center;

      color: #818181;
    }
  }
}

.serviceSection {
  padding-bottom: 80px;
  .tabSection {
    .tabs {
      margin-top: 0;
    }
  }
}

.serviceText {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  @include border-radius(10px);
  padding: 35px 39px;
  img {
    float: right;
    margin-left: 15px;
    position: relative;
  }
  .caption {
    max-width: 300px;
    line-height: 35px;
    margin-bottom: 10px;
  }
  .textSimple {
    img {
      & + p {
        margin-top: 9px;
      }
    }
  }
  .btn {
    margin-top: 21px;
    min-width: 232px;
  }
}

.packages {
  margin: 47px -13.5px 25px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  .item {
    background-color: $colorWhite;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
    @include border-radius(10px);
    margin: 0 13.5px 27px;
    width: calc(100% / 4 - 27px);
  }
  .head {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    padding: 19px 5px 15px 26px;
    .name {
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #383838;
    }
  }
  .info {
    padding: 17px 26px;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #656565;
    p {
      min-height: 93px;
    }
  }
  .packSet {
    margin-bottom: 11px;
    width: calc(100% + 25px);
    min-height: 74px;
    display: flex;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
    }
    li {
      position: relative;
      font-size: 10px;
      line-height: 12px;
      color: #818181;
      text-align: center;
      &:first-child {
        width: 85px;
      }
      &:nth-child(2) {
        width: auto;
      }
      .title {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        color: #818181;
        display: block;
        text-align: left;
      }
      .name {
        font-weight: 750;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #474a51;
        display: block;
        text-align: left;
      }
      img {
      }
      & + li {
        margin-left: 5px;
        @include after {
          content: "+";
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #4c535b;
          font-weight: 700;
          left: -8px;
          top: 50%;
          margin-top: -18px;
        }
      }
    }
  }
  .priceBlock {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 16px;
    .col {
    }
    .price {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $colorSite1;
      .cur {
        font-size: 17px;
      }
    }
    .desc {
      font-size: 10px;
      line-height: 12px;
      color: #818181;
    }
  }
  .btn {
    margin-top: 15px;
    padding: 5px 13px;
    font-size: 14px;
  }
}

.developersSection {
  padding: 18px 0 228px;
}

.developers {
  position: relative;
  .developerBlock {
    & + .developerBlock {
      margin-top: 138px;
    }
  }
  .captionInvis {
    bottom: -150px;
    left: 45px;
    top: auto;
  }
}

.developerBlock {
  position: relative;
  padding: 28px 63px 51px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
  background-color: $colorWhite;
  display: flex;
  flex-wrap: wrap;
  @include border-radius(10px);
  &:nth-child(2n) {
    justify-content: flex-end;
    .side {
      max-width: 800px;
    }
    .picture {
      right: auto;
      left: 0px;
      bottom: 26px;
    }
  }
  .side {
    max-width: 780px;
    width: 100%;
  }
  .picture {
    position: absolute;
    right: -100px;
    bottom: 49px;
  }
  .caption {
    line-height: 75px;
    color: #474a51;
  }
  .textSimple {
  }
  .controls {
    margin-top: 40px;
    margin: 40px -10px 0;
  }
  .btn {
    min-width: 217px;
    padding: 13px 47px;
    margin: 0 10px;
  }
}

.offersSection {
  padding-bottom: 134px;
  background-image: url(../img/offer-page.png);
  background-position: bottom center;
  background-repeat: no-repeat;
}

.offersSliderWrapper {
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0px 10px;
  transform: translateX(44px);
  .caption {
    font-weight: 500;
    font-size: 22px;
    line-height: 50px;
  }
  & + .offersSliderWrapper {
    margin-top: 34px;
  }
  &:last-child {
    .captionInvis {
      display: none;
    }
  }
  .captionInvis {
    position: absolute;
    left: 67px;
    bottom: -137px;
    top: auto;
  }
  .swiper-button-prev {
    left: -115px;
  }
  .swiper-button-next {
    right: -61px;
  }
}

.offersSlider {
  margin: -15px -15px;
  .item {
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
  }
  .offer {
    background-color: $colorWhite;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    @include border-radius(10px);
    min-height: 328px;
    display: flex;
    flex-direction: column;
  }
  .head {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    padding: 19px 11px 11px 26px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 700;
    color: #383838;
    min-height: 55px;
    display: flex;
    align-items: center;
  }
  .offerContent {
    padding: 19px 3px 19px 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    flex: 1;
  }
  .text {
    font-size: 10px;
    line-height: 15px;
    color: #656565;
    display: flex;
    align-items: flex-start;
    img {
    }
  }
  .priceBlock {
    margin-top: 12px;
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        margin-right: 19px;
        &.sale {
          .price {
            color: #4c535b;
            font-size: 12px;
            text-decoration: line-through;
            font-weight: 400;
            .cur {
              font-size: 13px;
            }
          }
        }
        & + li {
        }
      }
    }
    .price {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #e95a0c;
      display: block;
      .cur {
        font-size: 18px;
      }
    }
    .desc {
      font-size: 10px;
      line-height: 12px;
      color: #818181;
      display: block;
    }
  }
  .notOffer {
    font-weight: 700;
    padding-right: 15px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #aaabad;
    width: 100%;
    text-align: center;
  }
  .controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
    width: 100%;
    padding-right: 26px;
  }
  .btn {
    padding: 5px 14px;
    min-width: 169px;
    font-size: 14px;
  }
  .link {
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration-line: underline;
    @include transition(all 0.3s);
    color: #4c535b;
    &:hover {
      text-decoration-color: transparent;
    }
  }
}

.aboutBlock {
  padding-bottom: 20px;
  .textSimple {
    strong {
      color: $colorSite1;
      font-weight: 500;
    }
    img {
      float: right;
      margin-left: 25px;
      margin-top: -29px;
    }
  }
}

.stepSection {
  position: relative;
  @include after {
    background-image: url("../img/back-content1.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 1920px;
    height: 1921px;
    left: 50%;
    top: 46px;
    margin-left: -960px;
    z-index: -1;
    pointer-events: none;
  }
  .caption {
  }
  .stepList {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 49px -36px -51px;
  }
  .stepItem {
    position: relative;
    text-align: center;
    width: calc(100% / 4 - 72px);
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $colorBlack;
    margin: 0 36px 43px;
    &:nth-child(5n) {
      &::before,
      &::after {
        display: none;
      }
    }
    & + .stepItem {
      @include before {
        width: 12px;
        height: 12px;
        left: -80px;
        top: 12px;
        background-color: $colorSite1;
        @include border-radius(50%);
      }
      @include after {
        left: -75px;
        top: 17px;
        width: 86px;
        height: 2px;
        background-color: #c5c5c5;
        z-index: -1;
      }
    }
  }
  .name {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: #474a51;
    margin-bottom: 10px;
    display: block;
  }
}

.reviewsSection {
}

.reviews {
  padding: 17px 0;
}

.sliderReviewsWrapper {
  .swiper-button-next {
    right: -87px;
  }
  .swiper-button-prev {
    left: -420px;
  }
}

.sliderReviews {
  .item {
    padding: 10px 10px;
  }

  .reviewHead {
    background-color: #dce2ea;
    @include border-radius(10px 10px 0px 0px);
    padding: 19px 26px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #383838;
    display: flex;
    align-items: center;
  }

  .reviewBody {
    padding: 15px 26px 22px;
    font-size: 18px;
    line-height: 26px;
    color: $colorBlack;
  }

  .reviewName {
    font-size: 16px;
    line-height: 25px;
    .title {
      color: #4c535b;
      display: block;
    }
    .name {
      color: $colorSite1;
      display: block;
    }
    margin-bottom: 10px;
  }

  .review {
    background: $colorWhite;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    @include border-radius(10px);
  }

  .controls {
    margin-top: 16px;
  }

  .btn {
    padding: 5px 15px;
    min-width: 168px;
  }
}
